@CHARSET "ISO-8859-1";

/* ------------ General ------------ */

html{ 
	font-family: Arial; 
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
}

a:link, a:visited, a:hover, a:active{ 
	color: black; 
}

.button{ 
	border: 1px solid grey; 
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
}

input, textarea{
	padding: 2px 3px; 
}

.lightYellow{
	background-color: #faf9e7; 
}

/* ------------ Header ------------ */

#header{ 
	font-weight: bold; 
	height: 80px; 
	font-size: 40px; 
	text-align: center; 
	line-height: 80px; 
	margin: 5px;
}

/* ------------ Footer ------------ */

#footer{ 
	bottom: 10px; 
	right: 10px;
	position: relative;
	border: 10px;
	width: auto;
	text-align: right;
	margin-top: 15px;
}

a.about:link, a.about:visited, a.about:hover{ 
	text-decoration: underline !important; 
	float:right; 
}

/* ------------ About ------------ */

.about{
	margin: 15px 0 0 5px;
	font-weight: bold;
}

#about{
	font-size: 20px; 	
}

ul{
	margin: 0;
}